<div class="mt-4">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Word</label>
      <input name="q" placeholder="Enter any word" type="search" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div>
      <select name="gender" className="from-control" id="gender-input">
        <option value="">--- Gender</option>
        <option value="male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>